GOOGLE_GENAI_USE_VERTEXAI=FALSE
GOOGLE_API_KEY=your_google_api_key_here
KICONNECT_API_KEY=your_kiconnect_api_key_here

OUTLOOK_CLIENT_ID=your_outlook_client_id_here
OUTLOOK_TENANT_ID=your_outlook_tenant_id_here
